<header class="header">
    <section class="header__titleArea">
        <h2>Título</h2>
        <img src="./assets/images/logo.png" alt="Logo de la página">
    </section>
    <nav class="header__navArea">
        <a href="./index.html" class="navArea__element">Inicio</a>
        <a href="./about.html" class="navArea__element">About</a>
        <a href="./faqs.html" class="navArea__element">FAQs</a>
        <a href="" class="navArea__element">Unirse</a>
        <a href="./contact.html" class="navArea__element">Contacto</a>
    </nav>
</header>