<footer class="footer">
    <!--
        Contiene el título del sitio y info. copyright
    -->
    <section class="footer__siteInfo">
        <h4 class="siteInfo__title">
            Título del sitio
        </h4>
        <h5 class="siteInfo__copyright">
            &copy; Ricardo Moreno Cantea, 2ºDAW
        </h5>
    </section>
    <!--
        Contiene links útiles:
            - Atención al cliente
            - Información legal
            - Documentación
            - etc
    -->
    <section class="footer__links">

    </section>
</footer>