<header class="header">
    <section class="header__titleArea">
        <img src="./assets/images/logo2.png" alt="Logo de la página">
        <h1>FLEXROOMS</h1>

    </section>
    <nav class="header__navArea">
        <a href="#" class="navArea__element">Inicio</a>
        <a href="#" class="navArea__element">About</a>
        <a href="#" class="navArea__element">FAQs</a>
        <a href="#" class="navArea__element">Unirse</a>
        <a href="#" class="navArea__element">Contacto</a>
    </nav>
</header>