/* Colores primarios del sitio web */
$color1: #CDC7E5;
$color2: #A29FD1;
$color3: #7776BC;
$color4: #565578;
$color5: #3D3D3D;
$color6: #343434;

/* Importar fuentes con y sin serifa */
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat&display=swap');

/* Definición de familias */
$fontFamilySerif: 'Diphylleia', serif;
$fontFamilySansSerif: 'Montserrat', sans-serif;
