/* Colores primarios del sitio web */
$softWhite: #FBFBFB;
$softBlack: #0E1111;

$colorHeader: #F4F4F4;
$colorNavArea: #EDEDED;
$colorNavAreaHover: #E0E0E0;
$colorHeaderText: $softBlack;
$colorHeaderTextHover: $softWhite;

$colorBody: $softWhite;
$colorBodyText: $softBlack;


$color1: #EDEDED;
$color2: #E9E9E9;
$color3: #A8A8A8;
$color4: #030202;
$color4transparent: transparentize($color: $color4, $amount: 0.5);
$color5: #7A7A7A;
$color5transparent: transparentize($color: $color5, $amount: 0.15);
$color6: #636363;
$color7: #343434;
$colorBackground: #000000;



/* Importar fuentes con y sin serifa */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

@font-face {
    font-family: 'Alpha Centauri';
    src: url('../fonts/Alphacentauri-MVY4p.ttf');
}

/* Definición de familias */
$fontFamilyTitulo: "Alpha Centauri", sans-serif;
$fontFamilySerif: 'Lora', serif;
$fontFamilySansSerif: 'Montserrat', sans-serif;
