body {
    height: 100%;
    margin: 0;
}

#siteHeader {
    background-color: tomato;
}

.header--formatElements {
    margin: 0 auto;
    height: 3rem;
    max-width: 72rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.a--toMainSite {
    padding: 0 1em;
}

nav, a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.25em 0.5em;
}