@media all {

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    .header {
        background-color: lightseagreen;
        position: sticky;
    }
    
    .header__headerDiv {
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        
    }
    
    .headerDiv__titleDiv {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .headerDiv__titleDiv img {
        height: 45px;
        padding: 5px;
    }
    
    .headerDiv__titleDiv:hover {
        background-color: lightgreen;
    }
    
    .header__headerNav {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header__headerNav a {
        text-decoration: none;
        color: white;
    }
    
    .headerNav__div--navElement {
        padding: 15px;
    }
    
    .headerNav__div--navElement:hover {
        background-color: lightgreen;
        text-decoration: underline;
        color: aliceblue;
    }
    
    .headerNav__div--navElement h4 {
        margin: 0;
        font-weight: 400;
    }

    .main {
        padding: 0 50px;
    }

    .main__mainDiv {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .mainDiv__article {
        grid-column: 1/8;
        padding: 0 5px;
    }

    .mainDiv__nav {
        grid-column: 8/-1;
    }

    .footer {
        background-color: aliceblue;
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media all and (max-width: 600px) {
    .header__headerDiv {
        flex-direction: column;
    }
}