<header class="header">
    <section class="header__titleArea">
        <img src="./assets/images/logo2.png" alt="Logo de la página">
        <h1>FLEXROOMS</h1>

    </section>
    <nav class="header__navArea">
        <a href="./index.html" class="navArea__element">Inicio</a>
        <a href="./resumen.html" class="navArea__element">Resumen</a>
        <a href="./colores.html" class="navArea__element">Colores</a>
        <a href="./tipografia.html" class="navArea__element">Tipografía</a>
        <a href="./iconografia.html" class="navArea__element">Iconografía</a>
    </nav>
</header>