<form class="main__contact-form" action="">
    <div class="contact-form__box">
        <label for="input_nombre" id="label_nombre" aria-label="input_nombre">Nombre</label>
        <input type="text" name="input_nombre" id="input_nombre" aria-labelledby="label_nombre" aria-required="true">
    </div>

    <div class="contact-form__box">
        <label class="box__label" for="input_password" id="label_password" aria-label="input_password">Contraseña</label>
        <input box__input-field type="password" name="input_password" id="input_password" aria-labelledby="label_password"
            aria-required="true">
    </div>
</form>