<form class="main__formularioContacto" action="">
    <div role="region">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eius placeat corrupti aperiam ex
            dignissimos repellendus voluptatem asperiores error ut. Necessitatibus maxime cumque adipisci praesentium
            placeat at aliquam harum magni!</p>
    </div>

    <div class="formularioContacto__group" role="region">
        <label for="input__nombre" id="label__nombre" aria-label="input__nombre">Nombre <span class="color__red">*</span></label>
        <input class="input--text" type="text" name="input__nombre" id="input__nombre" aria-labelledby="label__nombre" required aria-required="true" placeholder="Escriba aquí su nombre">
    </div>
    <div class="formularioContacto__group" role="region">
        <label for="input__apellidos" id="label__apellidos" aria-label="input__apellidos">Apellidos</label>
        <input class="input--text" type="text" name="input__apellidos" id="input__apellidos" aria-labelledby="label__apellidos" required aria-required="true" placeholder="Escriba aquí sus apellidos">
    </div>
    <div class="formularioContacto__group formularioContacto__group--botonera" role="region">
        <button class="button__normal button__normal--send" type="submit" role="button">Enviar</button>
    </div>

</form>